<div class="navbar__second-level" data-sly-repeat="${currentPage.listChildren}">
  <div data-sly-test.child="${item.name}" class="second-level__items ${item.name}" data-nav-2="${child}">
    <div class="container">

      <a style="color:white" data-sly-test.child="${item.title}" class="second-level__item--title text--paragraph-title"
        href="/content/ucs-exercise-willy/{item.name}/${item.name}.html">
        ${child}
      </a>
      <sly data-sly-list.subpage="${item.listChildren}">
        <a class="second-level__item text--body" href="#">${subpage.title}</a>
      </sly>
    </div>
  </div>
</div>