<!-- ******************* START FOOTER COMPONENT ******************* -->
<footer class="footer ucg-icons__newPackage">
  <div class="footer__wrap container">
    <div class="footer__upper">

      <div
        data-sly-resource="${'upperfooternav' @ resourceType='ucs-exercise-willy/components/content/upperFooterNav'}">
      </div>
      <div data-sly-resource="${'footernav' @ resourceType='ucs-exercise-willy/components/content/footerNav'}"></div>

    </div>
    <div class="footer__bottom">

      <div data-sly-resource="${'leftFooterNav' @ resourceType='ucs-exercise-willy/components/content/leftFooterNav'}">
      </div>

      <div class="footer__col">
        <div
          data-sly-resource="${'footersocial' @ resourceType='ucs-exercise-willy/components/content/footerSocialBtn'}">
        </div>

        <div data-sly-resource="${'lorem' @ resourceType='ucs-exercise-willy/components/content/lorem'}">
        </div>

      </div>

    </div>
  </div>
  </div>
</footer>

<!-- ******************* END FOOTER COMPONENT ******************* -->