    <!-- ******************* START RELATED HASHTAG ******************* -->

    <div class="relatedHashtag container-fixed">
        <div class="relatedHashtag__bar container">
          <div class="bar__title text--subtitle">RELATED HASHTAG:</div>
          <div class="bar__list">
            <div data-hashtag="peoplestories" class="bar__item text--body">
              #PeopleStories
            </div>
            <div data-hashtag="makeadifferenceeveryday" class="bar__item text--body">
              #MakeADifferenceEveryDay
            </div>
            <div data-hashtag="talent" class="bar__item text--body">
              #Talent
            </div>
            <div data-hashtag="socialimpactbanking" class="bar__item text--body">
              #SocialImpactBanking
            </div>
          </div>
        </div>
        <div class="relatedHashtag__result container">
          <div class="result__cta">
            <div class="result__number">
              <span class="number text--paragraph-title">0</span>
              <span class="results text--body">results</span>
            </div>
            <div class="result__close">
              <span class="text--label">CHIUDI</span>
              <span class="icon icon-close"></span>
            </div>
          </div>
          <div class="result__cards">
            <div class="swiper-container">
              <div class="swiper-wrapper"></div>
  
              <!-- pagination -->
              <div
                class="swiper-pagination"
                data-hero-pagination
                data-pagination
              ></div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- ******************* END RELATED HASHTAG ******************* -->