<!-- ******************* START NEW HEADER COMPONENT ******************* -->
<header class="header ucg-icons__newPackage">
    <nav class="navbar container-fixed">
        <div class="navbar__zero-level">

            <div>
                <sly data-sly-resource="${'navlogo' @ resourceType='ucs-exercise-willy/components/content/navLogo'}"/>
            </div>
            
            <div data-sly-resource="${'navbar' @ resourceType='ucs-exercise-willy/components/content/navbar'}">
            </div>
          

            <a class="navbar__entry-point" href="#">
                <div class="icon icon-online-Banking_A"></div>
                <div class="entry-point__text text--label">ONLINE BANKING</div>
            </a>
        </div>

        <div class="navbar__hamburger">
            <div class="navbar__first-level">
                <div class="navbar__back text--label">
                    <div class="icon icon-back"></div>
                    <span>BACK</span>
                </div>

                <div class="first-level__items">
                    <div
                      data-sly-repeat="${CurrentPage.listChildren}"
                      data-nav-1="${item.name}"
                      class="first-level__item ${item.name}"
                      href="#"
                    >
                      <span class="item__text text--label">${item.title}</span>
                      <span class="icon icon-forth"></span>
                    </div>
                  </div>

                <!-- <div class="first-level__items">
                    <div data-nav-1="about-us" class="first-level__item about-us" href="#">
                        <span class="item__text text--label">About us</span>
                        <span class="icon icon-forth"></span>
                    </div>

                    <div data-nav-1="one-unicredit" class="first-level__item one-unicredit" href="#">
                        <span class="item__text text--label">One Unicredit</span>
                        <span class="icon icon-forth"></span>
                    </div>

                    <div data-nav-1="business" class="first-level__item business" href="#">
                        <span class="item__text text--label">Business</span>
                        <span class="icon icon-forth"></span>
                    </div>

                    <div data-nav-1="governance" class="first-level__item governance" href="#">
                        <span class="item__text text--label">Governance</span>
                        <span class="icon icon-forth"></span>
                    </div>

                    <div data-nav-1="investors" class="first-level__item investors" href="#">
                        <span class="item__text text--label">Investors</span>
                        <span class="icon icon-forth"></span>
                    </div>

                    <div data-nav-1="sustainability" class="first-level__item sustainability" href="#">
                        <span class="item__text text--label">Sustainability</span>
                        <span class="icon icon-forth"></span>
                    </div>

                    <div data-nav-1="press-media" class="first-level__item press-media" href="#">
                        <span class="item__text text--label">Press & Media</span>
                        <span class="icon icon-forth"></span>
                    </div>

                    <div data-nav-1="careers" class="first-level__item careers" href="#">
                        <span class="item__text text--label">Careers</span>
                        <span class="icon icon-forth"></span>
                    </div>
                </div> -->

                <div class="navbar__languages">
                    <div class="languages__selector">
                        <p class="selector__text text--label">ITA</p>
                        <span class="icon icon-down"></span>
                        <div class="selector__items">
                            <a class="selector__item selector__item--active text--label" data-lang="ITA"
                                data-lang-dk="ITALIANO" data-lang-m="IT" href="#">ITALIANO</a>
                            <a class="selector__item text--label" data-lang="ENG" href="#" data-lang-dk="ENGLISH"
                                data-lang-m="EN">ENGLISH</a>
                            <a class="selector__item selector__item--disabled text--label" data-lang="DE"
                                data-lang-dk="DEUTSCHE" data-lang-m="DE" href="#">DEUTSCHE</a>
                        </div>
                    </div>
                </div>

                <div data-sly-resource="${'subnav' @ resourceType='ucs-exercise-willy/components/content/subnav'}">
                </div>                
                <!-- <div class="navbar__second-level" >
                    <div class="second-level__items about-us" data-nav-2="about-us">
                        <div class="container">
                            <a class="second-level__item--title text--paragraph-title" href="#">
                                ABOUT US
                            </a>
                            <a class="second-level__item text--body" href="#">Clients</a>
                            <a class="second-level__item text--body" href="#">Our People</a>
                            <a class="second-level__item text--body" href="#">Commitment</a>
                            <a class="second-level__item text--body" href="#">Time 4 u</a>
                        </div>
                    </div>

                    <div class="second-level__items one-unicredit" data-nav-2="one-unicredit">
                        <div class="container">
                            <a class="second-level__item--title text--paragraph-title" href="#">
                                ONE UNICREDIT
                            </a>
                            <a class="second-level__item text--body" href="#">Lorem</a>
                            <a class="second-level__item text--body" href="#">Ipsum</a>
                            <a class="second-level__item text--body" href="#">one-unicredit</a>
                            <a class="second-level__item text--body" href="#">onTest</a>
                            <a class="second-level__item text--body" href="#">Ipsum</a>
                            <a class="second-level__item text--body" href="#">Lorem</a>
                            <a class="second-level__item text--body" href="#">governance</a>
                            <a class="second-level__item text--body" href="#">Lorem</a>
                        </div>
                    </div>

                    <div class="second-level__items business" data-nav-2="business">
                        <div class="container">
                            <a class="second-level__item--title text--paragraph-title" href="#">
                                BUSINESS
                            </a>
                            <a class="second-level__item text--body" href="#">Lorem</a>
                            <a class="second-level__item text--body" href="#">Ipsum</a>
                            <a class="second-level__item text--body" href="#">business</a>
                            <a class="second-level__item text--body" href="#">onTest</a>
                            <a class="second-level__item text--body" href="#">Amet</a>
                            <a class="second-level__item text--body" href="#">onTest</a>
                            <a class="second-level__item text--body" href="#">Amet</a>
                            <a class="second-level__item text--body" href="#">onTest</a>
                            <a class="second-level__item text--body" href="#">Lorem</a>
                            <a class="second-level__item text--body" href="#">Ipsum</a>
                            <a class="second-level__item text--body" href="#">business</a>
                            <a class="second-level__item text--body" href="#">onTest</a>
                        </div>
                    </div>

                    <div class="second-level__items governance" data-nav-2="governance">
                        <div class="container">
                            <a class="second-level__item--title text--paragraph-title" href="#">
                                GOVERANCE
                            </a>
                            <a class="second-level__item text--body" href="#">Lorem</a>
                            <a class="second-level__item text--body" href="#">Ipsum</a>
                            <a class="second-level__item text--body" href="#">governance</a>
                            <a class="second-level__item text--body" href="#">Lorem</a>
                            <a class="second-level__item text--body" href="#">Lorem</a>
                            <a class="second-level__item text--body" href="#">Ipsum</a>
                            <a class="second-level__item text--body" href="#">business</a>
                            <a class="second-level__item text--body" href="#">onTest</a>
                            <a class="second-level__item text--body" href="#">Amet</a>
                            <a class="second-level__item text--body" href="#">onTest</a>
                            <a class="second-level__item text--body" href="#">Amet</a>
                            <a class="second-level__item text--body" href="#">onTest</a>
                            <a class="second-level__item text--body" href="#">Lorem</a>
                            <a class="second-level__item text--body" href="#">Ipsum</a>
                            <a class="second-level__item text--body" href="#">business</a>
                            <a class="second-level__item text--body" href="#">onTest</a>
                        </div>
                    </div>

                    <div class="second-level__items investors" data-nav-2="investors">
                        <div class="container">
                            <a class="second-level__item--title text--paragraph-title" href="#">
                                INVESTORS
                            </a>
                            <a class="second-level__item text--body" href="#">Lorem</a>
                            <a class="second-level__item text--body" href="#">Ipsum</a>
                            <a class="second-level__item text--body" href="#">investors</a>
                            <a class="second-level__item text--body" href="#">onTest</a>
                            <a class="second-level__item text--body" href="#">Amet</a>
                        </div>
                    </div>

                    <div class="second-level__items sustainability" data-nav-2="sustainability">
                        <div class="container">
                            <a class="second-level__item--title text--paragraph-title" href="#">
                                SUSTAINABILITY
                            </a>
                            <a class="second-level__item text--body" href="#">Lorem</a>
                            <a class="second-level__item text--body" href="#">sustainability</a>
                            <a class="second-level__item text--body" href="#">Amet</a>
                            <a class="second-level__item text--body" href="#">onTest</a>
                            <a class="second-level__item text--body" href="#">Ipsum</a>
                            <a class="second-level__item text--body" href="#">Amet</a>
                            <a class="second-level__item text--body" href="#">Ipsum</a>
                            <a class="second-level__item text--body" href="#">Ipsum</a>
                            <a class="second-level__item text--body" href="#">Amet</a>
                            <a class="second-level__item text--body" href="#">Ipsum</a>
                        </div>
                    </div>

                    <div class="second-level__items press-media" data-nav-2="press-media">
                        <div class="container">
                            <a class="second-level__item--title text--paragraph-title" href="#">
                                PRESS MEDIA
                            </a>
                            <a class="second-level__item text--body" href="#">Lorem</a>
                            <a class="second-level__item text--body" href="#">Ipsum</a>
                            <a class="second-level__item text--body" href="#">onTest</a>
                            <a class="second-level__item text--body" href="#">careers</a>
                        </div>
                    </div>

                    <div class="second-level__items careers" data-nav-2="careers">
                        <div class="container">
                            <a class="second-level__item--title text--paragraph-title" href="#">
                                CAREERS
                            </a>
                            <a class="second-level__item text--body" href="#">Lorem</a>
                            <a class="second-level__item text--body" href="#">Ipsum</a>
                            <a class="second-level__item text--body" href="#">careers</a>
                            <a class="second-level__item text--body" href="#">onTest</a>
                            <a class="second-level__item text--body" href="#">Amet</a>
                        </div>
                    </div>
                </div> -->
                
            </div>
        </div>
    </nav>
    <div class="hamburger">
        <div class="icon"></div>
    </div>
    <!-- ******************* START SEARCH OVERLAY  COMPONENT ******************* -->
    <!-- <aside class="ucg-search">
        <div class="ucg-search__wrap">
            <span class="ucg-search--close icon icon-close"></span>
            <div class="panel ucg_search">
                <div class="container">
                    <input class="findAsYouType" type="text" name="querySearch"
                        data-resultspage="/content/unicreditgroup-eu/it/search.html" placeholder="Typing"
                        data-threshold="3" data-lang="it" />
                    <span class="icon icon-search"></span>
                </div>
                <div class="searchSuggestion">
                    <div class="autocomplete-suggestions">
                        <div class="autocomplete-suggestion text--body" data-index="0">
                            Typing
                        </div>
                        <div class="autocomplete-suggestion text--body" data-index="0">
                            Typing <strong>suggestion two</strong>
                        </div>
                        <div class="autocomplete-suggestion text--body" data-index="1">
                            Typing <strong>suggestion three</strong>
                        </div>
                        <div class="autocomplete-suggestion text--body" data-index="2">
                            Typing <strong>suggestion four</strong>
                        </div>
                        <div class="autocomplete-suggestion text--body" data-index="3">
                            Typing <strong>suggestion five</strong>
                        </div>
                        <div class="autocomplete-suggestion text--body" data-index="4">
                            Typing <strong>suggestion six</strong>
                        </div>
                    </div>

                    <button class="button button--arrow">MORE DETAILS</button>
                </div>
            </div>
        </div>
    </aside> -->
    <!-- ******************* END OF SEARCH OVERLAY COMPONENT ******************* -->
</header>
<!-- ******************* END NEW HEADER COMPONENT ******************* -->